################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InsideInning/InsideInning.iOS/bin/iPhone/Debug
/InsideInning/InsideInning.iOS/obj/iPhone
